{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-fluid col col-md-4 shadow mt-5 p-3 rounded">
        <h1>Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div class="d-flex flex-column gap-3 p-5">
            <div class="d-flex flex-column">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="d-flex flex-column">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>

            <button type="submit" class="btn btn-primary align-self-start">Register</button>

            <a href="{{ path('app_login') }}">Already have an account?</a>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
